.GameCockroaches-input {
    position: absolute;
    bottom: -300px;
    right: 42%;
    z-index: 100;
    padding: 20px 30px;
    font-size: 30px;
    color: white;
}

.GameCockroaches-input_style {
    border-radius: 10px;
    transition: .2s linear;
    background: #0B63F6;
}

.GameCockroaches-input_style:hover {
    box-shadow: 2px 2px white, 4px 4px #FC63B5;
}

.GameCockroaches-input_style:active {
    background: #003797;
    box-shadow: 2px 2px white, 4px 4px rgb(234, 255, 47);
}